/*** Spinner Start ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar{
    display: none;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .8s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}




.layout-main-wrapper clearfix{
    background: linear-gradient( -45deg, #FFFF2D, #FFFF2D 49%, #bbb 51% );
}
/*  */
.text-primare {
    color: #2f2fa2;
}
.my-code{
    color: #000000;
    margin-bottom: 50px;
}
.text-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    color: #000000;
}
.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.close {
    position: absolute;
    top: -15px;
    right: 1px;
    font-size: 40px;
    cursor: pointer;
}

.home_book-one, .home_book-two{
    width: 350px;
    padding: 20px;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*  */



@media(max-width:1240px) {
    .popup {
        width: 80vw;
    }
}
@media(max-width:768px){
    #magazine{
        display: none;
    }
    .popup{
        width: 10px;
        height: 10px;
    }
    .popup-content{
        box-shadow: none;
    }
}

.popup2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 60vw;
    overflow: hidden;
    overflow-y: scroll;
    height: 50vh;
}

.popup2 p {
    margin: 0;
}


.align-items-center {
    display: flex;
    justify-content: center;
}
#main-wrapper{
    padding: 100px;
}
.close-popup {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

@media(max-width:1240px) {

    .home_book-one,
    .home_book-two {
        width: 250px;
    }

    .globe-container,
    .globe {
        width: 130px;
        height: 130px;
    }

    .globe-sphere,
    .globe-outer-shadow,
    .globe-inner-shadow {
        left: 0;
        top: 0;
        width: 130px;
        height: 130px;
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    .globe-container {
        position: relative;
        display: inline-block;
        margin: 30px;
        transform: scale(0.5);
    }
}
@media(max-width:990px){
    #box{
        display: none;
    }
    #main-wrapper{
        padding: 10px;
    }
}
@media(max-width:725px) {

    .home_book-one,
    .home_book-two {
        width: 180px;
        padding: 10px;
    }
    #main-wrapper{
        padding: 30px;
    }
}


@media(max-width:555px) {

    .home_book-one,
    .home_book-two {
        width: 110px;
        padding: 3px;
    }
}

.popup_sharq p, .popup_garb p{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 800;
}

.popup_sharq-box, .popup_garb-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


  .popup_sharq-box ,.popup_garb-box{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    top: 100%;
    left: 0;
    width: 100%;
  }


  .popup_sharq-btn button, .popup_garb-btn button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
  }

  .popup_sharq-btn button:hover, .popup_garb-btn button:hover {
    background-color: #27ae60;
  }
  .viewsreference--view-title{
    margin-bottom: 10px;
    font-weight: 800;
  }
  .name_book{
    position: absolute;
    z-index: 111;
    bottom: 130px;
    left:100px;
    font-size: 30px;
    font-weight: 800;
  }
  .name_book2{
    position: absolute;
    z-index: 111;
    bottom: 130px;
    right:150px;
    font-size: 30px;
    font-weight: 800;
  }
  @media(max-width: 1250px){
    .name_book{
        bottom: 80px;
        left: 70px;
    }
    .name_book2{
        right: 80px;
        bottom: 80px;
    }
  }
  @media(max-width: 700px){
    .name_book{
        bottom: 60px;
        left: 50px;
        font-size: 20px;
    }
    .name_book2{
        bottom: 60px;
        left: 50px;
        font-size: 20px;
    }
  }
  @media(max-width: 540px){
    .name_book{
        bottom: 30px;
        left: 35px;
        font-size: 15px;
    }
    .name_book2{
        bottom: 30px;
        left: 35px;
        font-size: 15px;
    }
  }

  #earth {
    /* background: black;
    background: url(http://fc01.deviantart.net/fs71/f/2012/160/b/9/stars_by_paulinemoss-d52un4e.jpg);
    animation: stars 205s linear alternate; */
    align-items: center;
    display: flex;
}

#box {
    background: url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/earth-2.jpg);
    background-size: cover;
    border: 2px solid #000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: movimiento 5s linear 0s infinite;
    box-shadow: 0 0 25px RGBA(255, 255, 255, 0.10),
        -8px -8px 15px #000 inset,
        2px 2px 25px #000 inset,
        -45px -45px 25px RGBA(0, 0, 0, 0.5) inset,
        25px 25px 45px RGBA(0, 0, 0, 0.45) inset;
    transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

@keyframes movimiento {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 355px 0
    }
}

@keyframes stars {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 0 100%
    }
}



.carousel-caption h5{
    color: white;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.2em;
    line-height: 1.1;
    text-shadow: 3px 3px 9px #000;
    margin: 0 0 20px 0;
}
.carousel-caption button{
    background-color: #00539b;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    width: 400px;
    cursor:pointer;
    transition: .5s ease-in;
}
.carousel-caption button:hover{
    background-color: #0032d3;

}
.videos{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.paragraph_us {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 20px
}
.quicklinks-wrapper {
    padding-bottom: 50px;
}

@media(max-width:968px){
    .paragraph__column {
        display: flex;
        flex-direction: column;
    }

}
@media (max-width: 968px){
.video_rol{
    width: 100%;

}
.width_row{
    width: 100%;
}
}
.congrames_pupil{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
}

.artics_about-img{
    width: 125px;
}
.artics_about-img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
#articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
}
#artics{
    width: 45%;
    border: 1px solid #eaeaed;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 25px;
}
.artics_about{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.artics_about-name-back{
    background: #012169;
    padding: 20px;
    margin-bottom: 20px;
}
.artics_about-name-back a{
    text-decoration: none;
}
.artics_about-name-back span{
    font-size: 17px;
    color: #fff;
}
.artics_p{
    padding-left: 10px;
}

.artics_about-name{
    width: 100%;
    height: 100%;
}
.artics_about-img{
    position: absolute;
    z-index: 111;
    right: 10px;
    top: 10px;
}
.artics_text span{
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;

}
.artics_text p{
    margin-left: 20px;
}
.navbar-text-name{
    font-size: 23px;
    color: #fff;
}
@media(max-width:550px){
    .navbar-text-name span{
        font-size: 16px;
    }
}
@media (max-width:900px) {
    #articles{
        flex-direction: column;
    }
    #artics{
        width: 100%;
    }

}
.book_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-link{
    text-transform: uppercase;
}

.container-fluid{
    margin-top: 100px;
    margin-bottom: 100px;

}


.project_objectives-box-start {
    position: relative;
    z-index: 1;
}


.project_objectives-img {
    width: 90px;
    height: 130px;
}

.project_objectives-img img {
    width: 100%;
    height: 100%;
}

.prject_objectives-text h3 {
    color: #080260;
}

.project_objectives-box-start {
    background-color: #f6f6f6;
    padding: 40px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    align-items: center;
}

.project_objectives-box-start:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

}

.project_objectives-pdf {
    background-color: #00539b;
    color: #fff;
    width: 95px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project_objectives-pdf:hover {
    background-color: #080260;
    transition: all 0.3s ease;
}

.project_objectives-box {
    margin-bottom: 30px;
}

@media(max-width:1300px){
    .prject_objectives-text h3{
        font-size: 18px;
    }
}
@media(max-width:990px){
    .project_objectives-img{
        width: 70px;
        height: 100px;
    }
    .prject_objectives-text h3{
        font-size: 12px;
    }
    .prject_objectives-text p{
        font-size:8px;
    }
}
@media(max-width:768px){
    .project_objectives-box-start{
        flex-direction: column;
        gap: 10px;
    }
    .prject_objectives-text{
        text-align: center;
    }
}

.blog {
    position: relative;
    width: 100%;
    height: 100%;
}

.blog_start {
    gap: 30px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
.blog_web,.blog_magazine{
    background-color: #fff;
    margin: 100px 0;
}
.blog_web-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
}

.blog_web-about-box {
    box-shadow: 0 4px 20px rgba(193, 188, 217, 0.28);
    border-radius: 10px;
    width: 32%;

    margin-bottom: 30px;
}

.blog_web-about-img {
    height: 250px;
    overflow: hidden;
}

.blog_web-about-text {
    padding: 10px;
    text-align: center;
    color: #080260;
}

.blog_web-about-img img {
    border-radius: 10px;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog_web-about-img:hover img{
    transform: scale(1.3);
    background-color: #000;
}
.blog_web-start h3{
    color: #080260;
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 20px;

}
.container{
    max-width: 1320px;
    padding: 0 40px;
    margin: 0 auto;
    width: 100%;
}

.blog_web-start h3:after{
    height: 1px;
    content: "";
    background: #080260;
    display: block;
}
.blog_web-start h3::before{
    height: 1px;
    content: "";
    background: #080260;
    display: block;
}
.blog_web-about a{
    width: 100%;
}
@media(max-width:1024px){
    .blog_web-about-box{
        width: 48%;
    }
    .blog_web-about-img{
        height: 100%;
    }
}
@media(max-width:600px){
    .blog_web-about-box{
        width: 100%;
    }
    .blog_web-about-img{
        height: 100%;
    }
}
@media(max-width: 800px){
    .header .container{
        padding: 0;
    }
}



.event .event-img .event-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #2f2fa2c3;
    border-radius: 8px;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
}

.event .event-img:hover .event-overlay {
    opacity: 1;
}


.Korgazma{
    display: flex;
    width: 20%;
    align-items: center;
    overflow-y: scroll;
    list-style: none;
    flex-wrap: wrap;
    height: 50vh;
}
/*.Korgazma::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/
.tab-class{
    display: flex;
}
.tab-content{
    width: 80%;
    height: 50vh;
    padding: 0 20px;
    overflow-y: scroll;
}
.width_photos{
    width: 33%;
}
.event-img{
    height: 200px;
}
.event-img img{
    height: 100%;
}
.border{
    text-decoration: none;

}
.my-button{
    color: #000;

}


.contact_left{
    width: 40%;
}
.contact{
    margin: 100px 0;
}
.contact_input, textarea{
    width: 100%;
    border: 3px solid #0a53be;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
}
.contact_left form{
    display: flex;
    flex-direction: column;

}
.contact_left button{
    padding: 10px;
    background: #0a53be;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.contact_left button:hover{
    background: #0a53be;
}

input::placeholder,
textarea::placeholder {

}
.contact_start{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_right{
    display: flex;
    gap: 15px;
    flex-direction: column;
    line-height: 150%;
    color: #aeaeae;
    font-size: 16px;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none
}

.project {
    position: relative;
    width: 100%;
    height: 100%;
}

.blurry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.15;
}
.goals_start h1{
    font-size: 40px;
    color: #000;
}
.goals_start li a{
    text-decoration: none;
    list-style: none;
    color: #0a53be;

}
.project_start {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 30px;
    position: relative;
    z-index: 1;
}

.project_one,
.project_two {
    background: #cfcfcf;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
}

.project_one h3,
.project_two h3 {
    color: #000000;
}
.project_one p, .project_two p{
    color: #0a53be;
}
.goals{
}




.project_objectives-box-start {
    position: relative;
    z-index: 1;
}


.project_objectives-img {
    width: 90px;
    height: 130px;
}

.project_objectives-img img {
    width: 100%;
    height: 100%;
}

.prject_objectives-text h3 {
    color: #080260;
}
.articles{
    background: #fff;
    margin: 50px 0;
}
.project_objectives-box-start {
    background-color: #f6f6f6;
    padding: 40px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    align-items: center;
}

.project_objectives-box-start:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

}

.project_objectives-pdf {
    background-color: #240090;
    color: #fff;
    width: 95px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project_objectives-pdf:hover {
    background-color: #080260;
    transition: all 0.3s ease;
}

.project_objectives-box {
    margin-bottom: 30px;
}

@media(max-width:1300px){
    .prject_objectives-text h3{
        font-size: 18px;
    }
}
@media(max-width:990px){
    .project_objectives-img{
        width: 70px;
        height: 100px;
    }
    .prject_objectives-text h3{
        font-size: 12px;
    }
    .prject_objectives-text p{
        font-size:8px;
    }
}
@media(max-width:768px){
    .project_objectives-box-start{
        flex-direction: column;
        gap: 10px;
    }
    .prject_objectives-text{
        text-align: center;
    }
}
/* LOYIHA BOYICHA MAQOLALAR  END*/
.breadcrumb-item a{
    list-style: none;
    text-decoration: none;
    color: #0a53be;
}
.animated h1{
    font-size: 40px;
}
.videos {
    display: flex;
    flex-direction: column;
}
.margin{
    margin-bottom: 50px;
    margin-top: 50px;
}
.video_box{
    width: 45%;
    margin-bottom: 100px;
}
.video iframe{
    width: 100%;
}
.video_text{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.videos_start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
@media(max-width:768px){
    .video_box{
        width: 100%;
    }
}
.textbooks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0;
}

.textbooks_boxs{

}
.textbook_img{
    width: 90px;
    height: 130px;

}
.textbook_img img{
    width: 100%;
    height: 100%;
}
.textbook_left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.textbook_name p{
    color: #333;
    font-size: 30px;
    font-weight: 500;
}
.textbook_right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.project_objectives-box-start{
    margin-bottom: 20px;

}
.textbook_file a{
    text-decoration: none;
    color: #fff;
}
.textbook_file button{
    background-color: #240090;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.textbook_file button:hover{
    background-color: #080260;
    transition: all 0.3s ease;

}
.textbook_category select{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #000;
    border: 1px solid #0a58ca;
}

.textbook_two-start{
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
.textbooks_boxs-start{
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow-y: scroll;
}
.textbook_btns{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.textbook_two{
    margin-bottom: 100px;
}
.textbook_btns{
    overflow-y: scroll;
 }
.textbook_btns button{
    padding: 10px;
    width: 144px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #240090;
}
.textbook_btns button:focus{
    background: #240090;
    color: #fff;
    transition: .4s ease;
}
